node-red.json
[{"id":"8ca96a03.4f25f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a03a591a.021658","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"f0de88c.d29ea78","type":"ui_group","z":"","name":"Reg form","tab":"a03a591a.021658","order":1,"disp":true,"width":"6","collapse":false},{"id":"a3eff3c1.045f5","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"24474135.5f3c6e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"5f34e46a.0606dc","type":"ui_group","z":"","name":"Default","tab":"24474135.5f3c6e","order":1,"disp":true,"width":"6","collapse":false},{"id":"cd2fd592.455be8","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"e7db9407.741578","type":"ui_group","z":"","name":"Login form","tab":"cd2fd592.455be8","order":1,"disp":true,"width":"6","collapse":false},{"id":"325d066f.eb499a","type":"ui_tab","z":"","name":"Second page","icon":"dashboard","disabled":false,"hidden":false},{"id":"a59a0eeb.c4dc1","type":"ui_group","z":"","name":"Second form","tab":"325d066f.eb499a","order":1,"disp":true,"width":"6","collapse":false},{"id":"ef9aa235.3b237","type":"ui_tab","z":"","name":"CustomerHelp","icon":"dashboard","disabled":false,"hidden":false},{"id":"5686b936.5fe1c8","type":"ui_group","z":"","name":"Bot","tab":"ef9aa235.3b237","order":1,"disp":true,"width":"6","collapse":false},{"id":"71dc0bc6.59e164","type":"ui_form","z":"8ca96a03.4f25f8","name":"","label":"","group":"f0de88c.d29ea78","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":160,"y":220,"wires":[["f4b49b92.b4f2b8","236cb362.d2450c"]]},{"id":"f4b49b92.b4f2b8","type":"debug","z":"8ca96a03.4f25f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":80,"wires":[]},{"id":"236cb362.d2450c","type":"function","z":"8ca96a03.4f25f8","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":220,"wires":[["8e37dc93.348d"]]},{"id":"8e37dc93.348d","type":"cloudant out","z":"8ca96a03.4f25f8","name":"cloudant","cloudant":"","database":"sample","service":"node-red-qzzue-2020--cloudant-1597405130697-38326","payonly":true,"operation":"insert","x":570,"y":220,"wires":[]},{"id":"968a9bd7.fa3b68","type":"ui_form","z":"8ca96a03.4f25f8","name":"","label":"","group":"a59a0eeb.c4dc1","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":380,"wires":[["d431cee6.4b58a"]]},{"id":"d431cee6.4b58a","type":"function","z":"8ca96a03.4f25f8","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":380,"wires":[["31a9b808.46cb98"]]},{"id":"31a9b808.46cb98","type":"function","z":"8ca96a03.4f25f8","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":380,"wires":[["d2d34d60.f9e05"]]},{"id":"d2d34d60.f9e05","type":"cloudant in","z":"8ca96a03.4f25f8","name":"","cloudant":"","database":"sample","service":"node-red-qzzue-2020--cloudant-1597405130697-38326","search":"_idx_","design":"user","index":"user","x":690,"y":380,"wires":[["e6669708.a3d198"]]},{"id":"e6669708.a3d198","type":"function","z":"8ca96a03.4f25f8","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Successful';\n    \n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":380,"wires":[["56cc9cea.03e874"]]},{"id":"56cc9cea.03e874","type":"ui_text","z":"8ca96a03.4f25f8","group":"a59a0eeb.c4dc1","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":380,"wires":[]},{"id":"1a9d2a36.004236","type":"ui_form","z":"8ca96a03.4f25f8","name":"","label":"","group":"5686b936.5fe1c8","order":0,"width":0,"height":0,"options":[{"label":"User input:","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":540,"wires":[["3b9d44e4.168e1c"]]},{"id":"3b9d44e4.168e1c","type":"function","z":"8ca96a03.4f25f8","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":540,"wires":[["39bce100.d53fae"]]},{"id":"39bce100.d53fae","type":"watson-conversation-v1","z":"8ca96a03.4f25f8","name":"","workspaceid":"81fdb306-fe8b-4ba3-9906-1c5464613c73","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":540,"y":540,"wires":[["63f478e.204c688","c2753817.a9e648"]]},{"id":"63f478e.204c688","type":"debug","z":"8ca96a03.4f25f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":460,"wires":[]},{"id":"c2753817.a9e648","type":"function","z":"8ca96a03.4f25f8","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":540,"wires":[["7b9a2415.f0fddc","65ea2a25.4968f4"]]},{"id":"7b9a2415.f0fddc","type":"ui_text","z":"8ca96a03.4f25f8","group":"5686b936.5fe1c8","order":1,"width":"6","height":"6","name":"","label":"Bot reponse: ","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":540,"wires":[]},{"id":"65ea2a25.4968f4","type":"ui_audio","z":"8ca96a03.4f25f8","name":"","group":"5686b936.5fe1c8","voice":"","always":"","x":940,"y":600,"wires":[]}]