registration.json
[{"id":"8ca96a03.4f25f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a03a591a.021658","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"f0de88c.d29ea78","type":"ui_group","z":"","name":"Reg form","tab":"a03a591a.021658","order":1,"disp":true,"width":"6","collapse":false},{"id":"a3eff3c1.045f5","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"24474135.5f3c6e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"5f34e46a.0606dc","type":"ui_group","z":"","name":"Default","tab":"24474135.5f3c6e","order":1,"disp":true,"width":"6","collapse":false},{"id":"cd2fd592.455be8","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"e7db9407.741578","type":"ui_group","z":"","name":"Login form","tab":"cd2fd592.455be8","order":1,"disp":true,"width":"6","collapse":false},{"id":"325d066f.eb499a","type":"ui_tab","z":"","name":"Second page","icon":"dashboard","disabled":false,"hidden":false},{"id":"a59a0eeb.c4dc1","type":"ui_group","z":"","name":"Second form","tab":"325d066f.eb499a","order":1,"disp":true,"width":"6","collapse":false},{"id":"71dc0bc6.59e164","type":"ui_form","z":"8ca96a03.4f25f8","name":"","label":"","group":"f0de88c.d29ea78","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":160,"y":220,"wires":[["f4b49b92.b4f2b8","236cb362.d2450c"]]},{"id":"f4b49b92.b4f2b8","type":"debug","z":"8ca96a03.4f25f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":80,"wires":[]},{"id":"236cb362.d2450c","type":"function","z":"8ca96a03.4f25f8","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":220,"wires":[["8e37dc93.348d"]]},{"id":"8e37dc93.348d","type":"cloudant out","z":"8ca96a03.4f25f8","name":"cloudant","cloudant":"","database":"sample","service":"node-red-qzzue-2020--cloudant-1597405130697-38326","payonly":true,"operation":"insert","x":570,"y":220,"wires":[]},{"id":"968a9bd7.fa3b68","type":"ui_form","z":"8ca96a03.4f25f8","name":"","label":"","group":"a59a0eeb.c4dc1","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":380,"wires":[["d431cee6.4b58a"]]},{"id":"d431cee6.4b58a","type":"function","z":"8ca96a03.4f25f8","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":380,"wires":[["31a9b808.46cb98"]]},{"id":"31a9b808.46cb98","type":"function","z":"8ca96a03.4f25f8","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":380,"wires":[["d2d34d60.f9e05"]]},{"id":"d2d34d60.f9e05","type":"cloudant in","z":"8ca96a03.4f25f8","name":"","cloudant":"","database":"sample","service":"node-red-qzzue-2020--cloudant-1597405130697-38326","search":"_idx_","design":"user","index":"user","x":690,"y":380,"wires":[["e6669708.a3d198"]]},{"id":"e6669708.a3d198","type":"function","z":"8ca96a03.4f25f8","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Succesfull';\n    \n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":380,"wires":[["ad384c20.5c28d"]]},{"id":"ad384c20.5c28d","type":"debug","z":"8ca96a03.4f25f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":480,"wires":[]}]